/*
  
  GENERAL STUFF

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

body {
    background: #2f3f60;
    margin: 0;
    font-family: 'Roboto';
}

img {
  width: 100%;
  
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* 

  POP-UP FOR ERROR MESSAGE

*/
#popup {
  background: red;
  opacity: 0.5;
  position: absolute;
  width: 80%;
  margin: 10% 10%;
  height: 80%;
  text-align: center;
  padding-top: 45%;
  display: none;
}
@media only screen and (max-device-width:480px) {
  div#popup { display: block; }
}

/*

    IMAGE SPACING

*/

.image-spacer {
  z-index: -1;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  margin: 0;
}
@media only screen and (max-device-width:700px) {
  .image-spacer { position: fixed; }
}
.earth {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}
.stick-figure {
  position: absolute;
  width: 39.3%;
  top: 32.6%;
  left: 34.2%;
  z-index: 1;
}
.sun {
  position: absolute;
  width: 45.5%;
  top: 7%;
  left: 26.8%;
  z-index: 0;

  /* animation-name: rotate-full-circle;
  animation-timing-function: linear;
  animation-duration: 240s;
  animation-iteration-count: infinite; */
}
.face {
  position: absolute;
  width: 22%;
  top: 22%;
  left: 37%;
  z-index: 1;
}
.pink-planet {
  position: absolute;
  width: 22%;
  top: 23%;
  right: 2%;
  z-index: 1;

  animation-name: shake;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-play-state: paused ;
}
.pink-planet:hover{
  animation-play-state: running ;
}
.moon {
  position: absolute;
  width: 22%;
  top: 33%;
  left: 2%;
  z-index: 1;
  
  animation-name: rotate-back-and-forth;
  animation-timing-function: linear;
  animation-duration: 13s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}
.moon:hover {
  animation-play-state: running;

}
.sattelite {
  position: absolute;
  width: 22%;
  top: 65%;
  right: 2%;
  z-index: 1;

  animation-name: up-and-down;
  animation-timing-function: linear;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}
.sattelite:hover {
  animation-play-state: running;
}

/* 

  NAVIGATION BAR

*/

nav {
  position: fixed;
  width: 100%;
  height: 5%;
  /* border: 2px solid magenta; */
  padding: 10px;
}

/* LOGO */
nav img {
  width: auto;
  height: 100%;
  padding: 10px;
}

nav img {
  transition: 0.5s;
}

nav img:hover {
  filter: brightness(80%) sepia(35%) saturate(500%);
  transform: rotate(-360deg);    
}

/* HAMBURGER ICON */
/* https://freefrontend.com/css-hamburger-menu-icons/ */
label{
  display:flex;
  flex-direction:column;
  width:70px;
  cursor:pointer;
 }
label span{
  background: #ededed;
  display: inline-block;
  border-radius:10px;
  height:7px;
  width: 100%;
  margin: 7px 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);

}
input[type="checkbox"]{
  display:none;
}
input[type="checkbox"]:checked ~ span:nth-of-type(1){
  transform-origin:bottom;
  width: 50%;
  transform:rotatez(45deg) translate(8px,0px)
}
input[type="checkbox"]:checked ~ span:nth-of-type(2){
  transform-origin:top;
  transform:rotatez(-45deg)
}
input[type="checkbox"]:checked ~ span:nth-of-type(3){
  transform-origin:bottom;
  width:50%;
  transform: translate(30px,-11px) rotatez(45deg);

}

/* LINKS */
.nav-links {
  float: right;
}
.nav-links ul li {
  margin-right: 10px;
  list-style: none;    
  display: inline-block;
  font-size: 17px;
  padding: 10px;
  }

.nav-links ul li a {
  color: #f5feff;
  text-decoration: none;
}

#menu-about::after, #menu-about::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #6a5c9d;
  display: block;
  margin: 0 auto;
  transition: 0.5s;
}
#menu-projects::after, #menu-projects::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #397cbe;
  display: block;
  margin: 0 auto;
  transition: 0.5s;
}
#menu-blog::after, #menu-blog::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #f49cae;
  display: block;
  margin: 0 auto;
  transition: 0.5s;
}

#menu-about:hover::after, #menu-about:hover::before {
  width: 100%
}
#menu-projects:hover::after, #menu-projects:hover::before {
  width: 100%
}
#menu-blog:hover::after, #menu-blog:hover::before {
  width: 100%
}

/*

  PROJECT GALLERY

*/
.project-spacer {
  z-index: -1;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}
.project-spaces img {
  width: 100%;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.row {
  text-align: center;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 23%;
  padding: 0 1%;
}

.thumbnail-img {
  margin-top: 8px;
  vertical-align: middle;
  width: 80%;
  transition: 0.5s;
}

.thumbnail-img:hover {
  width: 100%;
  transition: 0.5s;
}

.thumbnail-text {
  display: none;
}

.thumbnail-wrapper:hover + .thumbnail-text {
  display: block;
  color: #f5feff;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/*

  WEBCOMIC

*/
#page-header {
  width: 100%;
  text-align: center;  
  color: #f5feff;
  
}

.comic-page {
  width: 50%;
  height: auto;
  margin-top: 0%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 0%;
  padding: 0%;
  display: block;
}


/*

    ANIMATIONS

*/

@keyframes rotate-full-circle {
  0%    {transform: rotate(0deg);}
  100%  {transform: rotate(360deg);}
}

@keyframes rotate-back-and-forth {
  0%   {transform: rotate(0deg);}
  25%  {transform: rotate(-10deg);}
  50%  {transform: rotate(0deg);}
  75%  {transform: rotate(10deg);}
  100%  {transform: rotate(0deg);}
}

@keyframes up-and-down {
  0%   {transform: translate(0,0);}
  25%   {transform: translate(0,3%);}
  50%   {transform: translate(0,0);}
  75%   {transform: translate(0,-3%);}
  100%   {transform: translate(0,0);}
}

@keyframes shake {
  0% { transform: translate(0%, 0%) rotate(0deg); }
  10% { transform: translate(-2%, -4%) rotate(-3deg); }
  20% { transform: translate(-3%, -1%) rotate(2deg); }
  30% { transform: translate(3%, 2%) rotate(0deg); }
  40% { transform: translate(1%, -1%) rotate(1deg); }
  50% { transform: translate(-1%, 2%) rotate(-5deg); }
  60% { transform: translate(-3%, 3%) rotate(0deg); }
  70% { transform: translate(3%, 1%) rotate(-1deg); }
  80% { transform: translate(-1%, -1%) rotate(3deg); }
  90% { transform: translate(1%, 2%) rotate(0deg); }
  0% { transform: translate(0%, 0%) rotate(0deg); }
}